<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="1" parallel="false">

	<test name="ChromeTest">

		<parameter name="browser" value="Chrome" />

		<classes>
			<class name="testcases.TestCreateNewUser"></class>
			<class name="testcases.Purchasing"></class>
		</classes>

	</test>
</suite>
